apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: colabri-doc-backend-config
  namespace: colabri
spec:
  timeoutSec: 3600
  connectionDraining:
    drainingTimeoutSec: 60
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 2
    type: HTTP
    requestPath: /ready
    port: 3000
